<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->


<!-- GOOGLE ANALYTICS -->
{{ if .Site.Params.GoogleAnalyticsID }}
{{ partial "analytics-gtag.html" . }}
{{ end }}

<!-- NO INDEX AND NO ARCHIVE TAGS -->

{{ if .Params.noindex }}
	<meta name="robots" content="noindex" />
{{ else }}
	<meta name="robots" content="noarchive">
{{ end }}


<!-- CANONICAL URL -->

<link rel="canonical" href="{{ .Permalink }}">






<!-- CUSTOM STYLES -->
<style>
  code {
    background: rgb(36, 35, 35);
    color: #fff;
  }
  pre code {
    color: rgb(230, 220, 220);
  }

  @media (prefers-color-scheme: dark) {
    code {
    background: rgb(36, 35, 35);
    color: #b32fff;
  }

  textarea,
    input {
      background-color: #131212;
      color: #fff;
      box-shadow: none;
      border: 1px solid #828282;
    }
  }
</style>