<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->

<!-- GOOGLE ANALYTICS -->
{{ if .Site.Params.GoogleAnalyticsID }} {{ partial "analytics-gtag.html" . }} {{ end }}

<!-- NO INDEX AND NO ARCHIVE TAGS -->

{{ if .Params.noindex }}
<meta name="robots" content="noindex" />
{{ else }}
<meta name="robots" content="noarchive" />
{{ end }}

<!-- CANONICAL URL -->
<link rel="canonical" href="{{ .Permalink }}" />

<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />

<!-- CUSTOM STYLES -->
<style>
  body {
    font-family: "Rubik", sans-serif;
    background-color: #f8f8ff;
  }

  a {
    color: #00bfa5;
  }

  pre {
    border-radius: 7px;
  }
  code {
    background: #011627;
    color: #f8f8ff;
  }
  pre code {
    color: rgb(230, 220, 220);
    border-radius: 7px;
  }


  @media screen and (min-width: 320px) {
    body {
      font-size: 16px;
    }
  }
  

  
  @media screen and (min-width: 768px)  {
    body {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 1281px) and (max-width: 1920px) {
    body {
      font-size: 17.5px;
    }
  }
  
  @media screen and (min-width: 1921px) {
    body {
      font-size: 22px;
    }
  }


  @media (prefers-color-scheme: dark) {
    body {
      background: rgb(36, 35, 35);
      color: #f8f8ffba;
    }
    code {
      background: #011627;
      color: #6f90a0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #6f90a0;
    }


    textarea,
    input {
      background-color: #131212;
      color: #fff;
      box-shadow: none;
      border: 1px solid #828282;
    }
  }
</style>
